$dark: #4A78BA;
$hacktx-light: #FFFFFF;
$hacktx-light-red: #dc0925;
$hacktx-red: #FF4115;
$hacktx-light-blue: #5983A0;
$sans-serif-font: Josefin Sans, sans-serif;
$desktop-width: 992px;
$hacktx-gray: #bfbfbf;
