@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:400,700';
@import 'constants';

body {
  background: $dark;
  color: $hacktx-light;

  .center {
	text-align: center;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
	font-family: $sans-serif-font;
	color: white;
	font-weight: 300;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: $sans-serif-font;
	color: white;
	opacity: 1;
	font-weight: 300;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: $sans-serif-font;
	color: white;
	opacity: 1;
	font-weight: 300;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
	font-family: $sans-serif-font;
	color: white;
	font-weight: 300;
  }

  .content {
    padding-top: 150px;
  }

  a {
    color: darken($hacktx-light, 10%);
    font-weight: 700;
    text-decoration: none;
    &.decorate {
      border-bottom: 1px dotted white;
    }
    &:hover {
      color: lighten($hacktx-light, 10%);
      text-decoration: none;
    }
    &:active {
      color: white;
    }

    &:visited {
      color: darken($hacktx-light, 10%);
    }
  }

  h1, h2, h3 {
    color: $hacktx-light;
    //text-shadow: 1.5px 1.5px 1.5px #CB0922;
  }

  h4 {
    font-weight: 300;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 85px;
  padding-bottom: 10px;
}


@media (min-width: 992px) {
  .col-md-6.left-inline-input {
	padding-right: 5px;
  }
  .col-md-6.right-inline-input {
	padding-left: 5px;
  }
  button {
	&.confirm {
	  float: left;
	}
  }
}


//  Page-specific rules
.spacing {
    min-height: 3em;
    height: 3em;
}

.results {
  .fa-times-circle {
	color: $hacktx-red;
  }
  @media (min-width: 992px) {
	.action-button {
	  float: right;
	}
  }
  @media (max-width: 992px) {
	.action-button {
	  float: left;
	}

  }
}

.sign {
  input {
	&[type=text], &[type=email], &[type=tel] {
	  width: 95%;
	  &:focus {
		width: 100%;
	  }
	}
  }
}

.search {
  input {
	&[type=text] {
	  text-align: left;
	}
  }
  .chosen-container {
	width: 100% !important;
  }
  .row {
	margin-bottom: 10px;
  }

  button {
	display: block;
  }
}

//
//textarea {
//padding: 10px 15px;
//margin: 0 auto 10px auto;
//width: 95%;
//
//}

.confirmation, .update {
  button {
	display: block;
	&.decision {
	  width: 100% !important;
	}
  }
}

.red {
  color: $hacktx-red;
}

.accept {
  button {
	background: $hacktx-light-blue;
	&.submit {
	  background-color: $hacktx-red;
	  &:hover {
		background-color: $hacktx-light-red;
	  }
	}
	&.selected {
	  background-color: $hacktx-red;
	  color: white;
	}
  }
}

* {
  font-family: $sans-serif-font;
}

button {
  appearance: none;
  outline: 0;
  background: $hacktx-red;
  border: 0;
  padding: 10px 15px;
  color: $hacktx-light;
  border-radius: 3px;
  width: 250px;
  font-weight: 400;
  @media(max-width: 1200px) {
	width: 200px;
  }
  @media (max-width: 992px) {
	display: block;
	margin-right: auto;
	margin-left: auto;
  }
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition-duration: 0.25s;
  margin: 0 auto 10px auto;
  display: inline;
  &:hover {
	background-color: $hacktx-light;
        color: $hacktx-red;
  }
  &:disabled {
	background-color: $hacktx-gray;
  }
}

.error {
  color: red;
}

h1 {
  font-size: 36pt;
}

.large-text {
  p {
    font-size: 20pt;
  }
  li {
    font-size: 15pt;
  }
}

.top-buffer {
  margin-top: 50px;
}

table {
  &.info {
    width: 100%;
    margin-bottom: 10px;
    //tr:nth-child(odd) {
      //  background: rgba(255, 255, 255, 0.3);
    //}

    col:first-child {
      background: rgba(255, 255, 255, 0.3);
    }
    td {
      height: 35px;
      padding-left: 5px;
      border-bottom: 1pt solid white;
      min-width: 135px;
      &.no-border {
        border-bottom: none !important;
      }
    }
  }

  &.results {
    width: 100%;
    margin-bottom: 10px;
    //tr:nth-child(odd) {
      //  background: rgba(255, 255, 255, 0.3);
    //}

    col:first-child {
      background: rgba(255, 255, 255, 0.3);
    }
    td {
      height: 35px;
      padding-left: 5px;
      border-bottom: 1pt solid white;
      min-width: 135px;
      &.no-border {
        border-bottom: none !important;
      }
    }
    tr:last-child {
      border-bottom: none !important;
    }
  }
}

.form-info {
  margin-top: 20px;
}

form {
  .control {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 16px;
  }
  .control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .control__indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
  }
  .control--radio .control__indicator {
	border-radius: 50%;
  }
  .control:hover input ~ .control__indicator {
	background: #ccc;
  }
  .control input:checked ~ .control__indicator {
	background: $hacktx-red;
  }
  .control:hover input:not([disabled]):checked ~ .control__indicator {
	background: $hacktx-light-red;
  }
  .control input:disabled ~ .control__indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
  }
  .control__indicator:after {
	content: '';
	position: absolute;
	display: none;
  }
  .control input:checked ~ .control__indicator:after {
	display: block;
  }
  .control--checkbox .control__indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
  }
  .control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
  }
  .control--radio .control__indicator:after {
	left: 7px;
	top: 7px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background: #fff;
  }
  .control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
  }

  .select {
	position: relative;
	display: inline-block;
	width: 100%;
  }
  .select select {
	display: inline-block;
        text-align: left;
	width: 100%;
        margin: 0 auto 10px auto;
	cursor: pointer;
	padding: 10px 15px;
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #e6e6e6;
	color: #7b7b7b;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  .select select::-ms-expand {
	display: none;
  }
  .select select:hover,
  .select select:focus {
	color: #000;
	background: #ccc;
  }
  .select select:disabled {
	opacity: 0.5;
	pointer-events: none;
  }
  .select__arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0;
	height: 0;
	pointer-events: none;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
	border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
	border-top-color: #ccc;
  }

  label {
	display: block;
	font-weight: 400;
	font-size: 12pt;
	&.title {
	  //font-weight:700;
	  font-size: 24pt;
	  //text-shadow: 1.5px 1.5px 1.5px #CB0922;
	}
  }

  h4.two-col {
	//padding-top: 10px;
  }

  p {
    font-size: 16px;
  }

  .info-field, input[type=text].info-field, input[type=date].info-field {
      width: 100%;
      margin: 0 10px 10px 0;
      font-size: 16px;
      text-align: left;
  }

  .required::after {
      content: " *";
      color: $hacktx-red;
      text-shadow: none;
  }

  input {
	&[type=text], &[type=password], &[type=date], &[type=email], &[type=tel] {
	  -webkit-appearance: none;
	  -moz-appearance: none;
	  appearance: none;
	  outline: 0;
          width: 250px;
          margin: 0 auto 10px auto;
          text-align: center;
	  border: 1px solid rgba(255, 255, 255, 0.4);
	  background-color: rgba(255, 255, 255, 0.2);
	  border-radius: 3px;
	  padding: 10px 15px;
          margin-bottom: 10px;
	  display: block;
	  color: #FFF;
	  -webkit-transition-duration: 0.25s;
	  transition-duration: 0.25s;
	  font-weight: 300;
	  &::selection {
		color: white;
		background: rgba(mix($dark, $hacktx-light), 0.75); /* WebKit/Blink Browsers */
	  }

	  &:hover {
		background-color: rgba(255, 255, 255, 0.4);
	  }

	  &:focus {
		background-color: white;
		color: $dark;
	  }
          &:invalid {
              box-shadow: none;
          }
	}

	&[type=number] {
	  @extend [type=text];
	  display: inline;
	  width: 100px;
	  &:focus {
		width: 150px;
	  }
	}
  }

  textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
    margin: 0 auto 10px auto;
	border: 1px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 3px;
	padding: 10px 15px;
        margin-bottom: 10px;
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	font-weight: 300;
	&::selection {
	  color: white;
      background: rgba(mix($dark, $hacktx-light), 0.75); /* WebKit/Blink Browsers */
	}

	&:hover {
      background-color: rgba(255, 255, 255, 0.4);
	}

	&:focus {
      background-color: white;
      color: $dark;
	}
        &:invalid {
            box-shadow: none;
        }
	display: inline;
	width: 100%;
	text-align: left;
    resize: none;
	color: white;
  }

  ::-webkit-input-placeholder { /* Chrome */
	color: $hacktx-gray;
  }
  :-ms-input-placeholder { /* IE 10+ */
	color: $hacktx-gray;
  }
  ::-moz-placeholder { /* Firefox 19+ */
	color: $hacktx-gray;
	opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
	color: $hacktx-gray;
	opacity: 1;
  }
}

.header {
  padding: 10px 10px 0 10px;
  width: 100%;
  position: fixed;
  min-height: 80px;
  z-index: 99;
  & a {
	vertical-align: center;
	font-size: 1.5em;
	line-height: 70px;
  }
}

.app-status {
  text-align: center;
}

.welcome {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  /* Set the fixed height of the footer here */
  height: 85px;
  img {
	padding-bottom: 10px;
  }
  //background-color: #f5f5f5;
}

.login-logo {
  margin: 20px;
}

input[type=text].fullwidth {
  width: 100%;
  text-align: left;
  &:focus {
      width: 100%;
  }
}

.data-table {
    background: white;
    padding: 10px 20px 10px 20px;
    color: black;
}

.black-text {
    color: black;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu--active {
    display: block;
}

.accept-reimbursement-button {
  &:disabled {
    background: green;
  }
  &:hover {
    color: $hacktx-light;
  }
}


.text-container {
  width: 100%;
  float: left;
  padding: 0 5px 0 5px;
  background-color: white;
  color: #999;
  font-size: 13px;

  input[type=text].corp-text-box {
    margin: 1px 0 1px 0;
    padding: 0 0 0 0;
    height: 25px;
    border-radius: 0;
    line-height: normal;
    color: #999;
    font-family: sans-serif;
    font-size: 100%;

    &:focus {
      color: black;
    }

    &::-webkit-input-placeholder {
      font-family: sans-serif;
      color: #999;
    }
    &::-moz-placeholder {
      font-family: sans-serif;
      color: #999;
    }
    &:-moz-placeholder {
      font-family: sans-serif;
      color: #999;
    }
    &:-ms-input-placeholder {
      font-family: sans-serif;
      color: #999;
    }
  }
}
