{% extends 'layouts/head.html' %}
{% block body %}
    <section class="content">
        <img class="hacktx-logo img-responsive center-block" src="{{ url_for('static', filename='branding/logo.svg') }}"
             height="200" width="750"/>
        <div class="spacing"></div>
        <div class="center"><h2>{{ config.EVENT_LOCATION }} | {{ config.EVENT_COMPLETE_DURATION }}</h2></div>
        <div class="spacing"></div>
        <div class="container">
          {% if not config.REGISTRATION_OPENED %}
          <a href="{{ url_for('sign-up') }}">
            <button class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 submit text-center register-now title-buttons">
              <span class="hint--bottom" aria-label="Sign Up">SIGN UP</span>
            </button>
          </a>
          {% elif config.REGISTRATION_CLOSED %}
          <a href="{{ url_for('login') }}">
            <button class="col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4 submit text-center register-now title-buttons">
              <span class="hint--bottom" aria-label="Login">LOG IN</span>
            </button>
          </a>
          {% else %}
          <a href="{{ url_for('sign-up') }}">
            <button class="col-md-2 col-md-offset-3 col-xs-4 col-xs-offset-2 submit text-center register-now title-buttons">
              <span class="hint--bottom" aria-label="Sign Up">SIGN UP</span>
            </button>
          </a>
          <a href="{{ url_for('login') }}">
            <button class="col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-1 submit text-center register-now title-buttons">
              <span class="hint--bottom" aria-label="Login">LOG IN</span>
            </button>
          </a>
          {% endif %}
        </div>
    </section>

    <footer class="footer">
        <div class="col-md-6 col-md-offset-3">
            <a href="https://freetailhackers.com"><img class="img-responsive center-block"
                                                       src="{{ url_for('static', filename='branding/badge.svg') }}"
                                                       width=50></a>
        </div>
    </footer>
{% endblock %}
