<script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
<div class="row">
    <h3 {% if required %}class="required"{% endif %}>Resume</h3>
    <div class="col-md-6 form-info">
        <p>Please upload your resume here. We'll be sharing this with our partners so you can get cool jobs, swag, and
            more! (PDFs only)</p>
    </div>
    <div class="col-md-6">
        <input type="file" name="resume" accept="application/pdf" {% if required %}aria-required="true"
               required{% endif %}>
    </div>
</div>
<div class="row">
    <h3>Additional Information</h3>
    <div class="col-md-12 form-info">
        <p>At {{ config.HACKATHON_NAME }}, we work hard to make people feel welcome regardless of skill level and
            background. To help us accomplish this goal, we collect this information to see how we’ve been doing.</p>
    </div>
    <div class="col-md-12">
        <div class="control-group">
            <h4 class="required">Skill Level</h4>
            <label class="control control--radio">Have never programmed
                <input type="radio" name="skill_level" value="0" aria-required="true" required
                       {% if not required and user.skill_level == 0 %}checked{% endif %}/>
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Have been programming for a week-a month
                <input type="radio" name="skill_level" value="1" aria-required="true" required
                       {% if not required and user.skill_level == 1 %}checked{% endif %}>
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Have been programming for 6 months
                <input type="radio" name="skill_level" value="2" aria-required="true" required
                       {% if not required and user.skill_level == 2 %}checked{% endif %}>
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Have been programming 1 year
                <input type="radio" name="skill_level" value="3" aria-required="true" required
                       {% if not required and user.skill_level == 3 %}checked{% endif %}>
                <div class="control__indicator"></div>
            </label>
            <label class="control control--radio">Have been programming &gt; 1 year
                <input type="radio" name="skill_level" value="4" aria-required="true" required
                       {% if not required and user.skill_level == 4 %}checked{% endif %}>
                <div class="control__indicator"></div>
            </label>
        </div>
        <br>
        <div class="control-group">
            <h4 class="required">How many hackathons have you been to?</h4>
            <input type="number" class="number" name="num_hackathons" min="0" aria-required="true" required
                   {% if not required %}value="{{ user.num_hackathons }}"{% endif %}>
        </div>
        <div class="control-group">
            <h4 class="required">What is your class standing?</h4>
            <div class="select">
                <select name="class_standing" aria-required="true" required>
                    <option value='' {% if required %}selected{% endif %} disabled>Class Standing</option>
                    <option value="HS" {% if not required and user.class_standing == 'HS' %}selected{% endif %}>High
                        Schooler
                    </option>
                    <option value="Freshman"
                            {% if not required and user.class_standing == 'Freshman' %}selected{% endif %}>Freshman
                    </option>
                    <option value="Sophomore"
                            {% if not required and user.class_standing == 'Sophomore' %}selected{% endif %}>Sophomore
                    </option>
                    <option value="Junior" {% if not required and user.class_standing == 'Junior' %}selected{% endif %}>
                        Junior
                    </option>
                    <option value="Senior" {% if not required and user.class_standing == 'Senior' %}selected{% endif %}>
                        Senior
                    </option>
                    <option value="Graduate"
                            {% if not required and user.class_standing == 'Graduate' %}selected{% endif %}>Graduate
                        Student
                    </option>
                </select>
                <div class="select__arrow"></div>
            </div>
        </div>
        <br>
        <h4 class="required">What race(s) do you identify with?</h4>
        <label class="control control--checkbox">American Indian / Alaskan Native
            <input type="checkbox" name="race" class="other-race" value="AMERICAN_INDIAN_ALASKAN"
                   {% if not required and user.race and 'AMERICAN_INDIAN_ALASKAN' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Asian
            <input type="checkbox" name="race" class="other-race" value="ASIAN"
                   {% if not required and user.race and 'ASIAN' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Black and African American
            <input type="checkbox" name="race" class="other-race" value="BLACK_AFRICAN_AMERICAN"
                   {% if not required and user.race and 'BLACK_AFRICAN_AMERICAN' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Hispanic or Latino
            <input type="checkbox" name="race" class="other-race" value="HISPANIC_LATINO"
                   {% if not required and user.race and 'HISPANIC_LATINO' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Native Hawaiian or Other Pacific Islander
            <input type="checkbox" name="race" class="other-race" value="NATIVE_HAWAIIAN_PACIFIC_ISLANDER"
                   {% if not required and user.race and 'NATIVE_HAWAIIAN_PACIFIC_ISLANDER' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">White (Not of Hispanic Origin)
            <input type="checkbox" name="race" class="other-race" value="EUROPEAN_WHITE"
                   {% if not required and user.race and 'EUROPEAN_WHITE' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">I choose not to disclose
            <input type="checkbox" name="race" class="no-race" value="NO_DISCLOSURE"
                   {% if not required and user.race and 'NO_DISCLOSURE' in user.race.split(',') %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <br>
        <h4>We can offer a limited amount of travel reimbursement to hackers coming from out of Austin. Would you like
            to receive travel reimbursement to attend HackTX?</h4>
        <label class="control control--checkbox">I would be interested in receiving travel reimbursement!
            <input type="checkbox" name="travel_reimbursement" value="TRUE" class="travel-reimbursement-checkbox"
                   {% if not required and user.needs_travel_reimbursement %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <div class="travel-reimbursement-fields">
            <h4 class="required">Why do you think you deserve travel reimbursement?</h4>
            <textarea rows="5" name="why_travel_reimbursement"
                      required>{% if not required and user.why_travel_reimbursement %}{{ user.why_travel_reimbursement }}{% endif %}</textarea>
        </div>
        <h4>We will be hosting workshops both before and during HackTX. What kind of workshops would you want to
            see?</h4>
        <textarea rows="5" name="workshops">{% if not required and user.workshops %}{{ user.workshops }}{% endif %}</textarea>
        <br>
        <h4>Want guaranteed travel reimbursement? Sign up to be a Campus Ambassador for HackTX. Campus Ambassadors will
            help hype up HackTX at their respective campuses. In order to be eligible, you must have an active Facebook
            account, be willing to help your local hackers get to HackTX, and overall be a friendly person who wants to
            help support and grow the hacker community!</h4>
        <label class="control control--checkbox">I want to be a Campus Ambassador!
            <input type="checkbox" class="campus-ambassador-checkbox" name="campus_ambassador" value="TRUE"
                   {% if not required and user.campus_ambassador %}checked{% endif %}>
            <div class="control__indicator"></div>
        </label>
        <br>
        <div class="campus-ambassador-fields">
            <p>Thank you for applying to Campus Ambassadors! Please provide a link to your Facebook account and tell us
                why you'd think you'd be a great campus ambassador.</p>
            <h4 class="required">Facebook Account Link</h4>
            <div class="input-group">
                <span class="input-group-addon" id="facebook-addon">https://www.facebook.com/</span>
                <input type="text" class="form-control fullwidth" name="facebook_account" placeholder="your_username"
                       required
                       {% if not required and user.facebook_account %}value="{{ user.facebook_account }}"{% endif %}
                       aria-describedby="facebook-addon">
            </div>
            <br>
            <h4 class="required">Why do you think you are qualified to be a Campus Ambassador?</h4>
            <textarea rows="5" name="campus_ambassadors_application"
                      required>{% if not required and user.campus_ambassadors_application %}{{ user.campus_ambassadors_application }}{% endif %}</textarea>
        </div>
        <br>
        {% if required %}
            <h4>We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain
                application/registration information for event administration, ranking, MLH administration, pre and
                post-event informational e-mails, and occasional messages about hackathons in line with the MLH Privacy
                Policy. In addition, we also expect you to follow the <a
                        href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank" noreferrer noopener>MLH
                    Code of Conduct</a>.</h4>
            <label class="control control--checkbox"><span class="required">I agree</span>
                <input type="checkbox" name="mlh" value="TRUE" aria-required="true" required/>
                <div class="control__indicator"></div>
            </label>
            <br>
        {% endif %}
        <button type="submit" class="confirm">{% if required %}Register{% else %}Submit{% endif %} <i
                class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
    </div>
</div>
