<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.HACKATHON_NAME }}{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://hacktx.com/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://hacktx.com/assets/favicon-16x16.png">
    <link rel="mask-icon" href="https://hacktx.com/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hint.css/2.3.2/hint.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js"></script>
    <script>
        /* turning flask flash messages into js popup notifications */
        window.popupMessages = {{ get_flashed_messages(with_categories=True) | json | safe }};
    </script>

    {#Uncomment when working offline#}

    {#	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">#}
    {#	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">#}
    {#	<link rel="stylesheet" href="{{ url_for('static', filename='css/hint.min.css') }}">#}
    {#	<link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">#}

    {#End uncomment block#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block imports %}
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74341110-3', 'auto');
    ga('send', 'pageview');

</script>
</body>
